<!DOCTYPE html>

<html ng-app="betApp"> <!-- ng-app used for angular -->
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-base.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-desktop.min.css" />
    <link rel="stylesheet" type="text/css" href="css/mobile-angular-ui-print.min.css" />

    <title>BetBox</title>
</head>

<body ng-controller="AppCtrl">


<!-- NEW BET OVERLAY -->

<div class="overlay ng-scope" id="new-bet-mod" toggleable="" parent-active-class="overlay-in" active-class="overlay-show">
    <div class="overlay-inner">
        <div class="overlay-background"></div>
        <div class="overlay-content">
            <div class="overlay-body">

                <h4 class="overlay-title">New Bet</h4>
                <div class="form-group container-fluid">
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea type="text" ng-model="bets.bet" placeholder="What's your bet?" rows="4" bs-input="" class="ng-scope ng-pristine ng-valid form-control"></textarea>
                            <input type="text" placeholder="Who you betting?" ng-model="bets.name" label="" bs-input="" class="ng-pristine ng-valid needsclick form-control">
                        </div>
                    </div>
                </div>
                <p>
                    <span ng-show="newBetForm.$invalid && newBetForm.$dirty">
			      		Both bet content and participants fields are required.
			      	</span>
                </p>
                <p toggle="off" bubble="" target="new-bet-mod">
                    <span class="btn btn-primary" ng-disabled="newBetForm.$invalid" ng-click="SaveBet()" >Save Bet</span>
                    <span class="btn btn-default" ng-click="cancelBet()" >Cancel</span>
                </p>

            </div>
        </div>
    </div>
</div>
<!-- END NEW BET OVERLAY -->

<!-- USER LOGIN OVERLAY -->

<div class="overlay ng-scope" id="validation_form" toggleable="" parent-active-class="overlay-in" active-class="overlay-show">
    <div class="overlay-inner">
        <div class="overlay-background"></div>
        <div class="overlay-content">
            <div class="overlay-body">

                <h4 class="overlay-title">New Bet</h4>
                <div class="form-group container-fluid">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="email" ng-model="user.mail" placeholder="Enter email" bs-input="" class="ng-scope ng-pristine ng-valid form-control" required/>
                            <input type="password" class="ng-pristine ng-valid needsclick form-control" ng-minlength="4" ng-model="user.password" placeholder="Password" required />

                        </div>
                    </div>
                </div>
                <p>
					<span ng-show="authForm.$invalid && authForm.$dirty">
			      			Email and Password fields are required.
				  	</span>
                </p>
                <p toggle="off" bubble="" target="validation_form">
                    <span class="btn btn-primary" ng-disabled="authForm.$invalid" ng-click="submitToken($event)">Login</span>
                    <span class="btn btn-default" ng-click="loadAndShowRegistrationPage()">New User</span>
                </p>

            </div>
        </div>
    </div>
</div>
<!-- END USER LOGIN OVERLAY -->

<!-- NEW USER OVERLAY -->

<div class="overlay ng-scope" id="new_user_form" toggleable="" parent-active-class="overlay-in" active-class="overlay-show">
    <div class="overlay-inner">
        <div class="overlay-background"></div>
        <div class="overlay-content">
            <div class="overlay-body">

                <h4 class="overlay-title">New Bet</h4>
                <div class="form-group container-fluid">
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="email" ng-model="user.mail" placeholder="Enter email" bs-input="" class="ng-scope ng-pristine ng-valid form-control" required/>
                            <input type="password" class="ng-pristine ng-valid needsclick form-control" ng-minlength="4" ng-model="user.password" placeholder="Password" required />

                        </div>
                    </div>
                </div>
                <p>
					<span ng-show="authForm.$invalid && authForm.$dirty">
			      			Email and Password fields are required.
				  	</span>
                </p>
                <p toggle="off" bubble="" target="new_user_form">
                    <span class="btn btn-primary" ng-disabled="authForm.$invalid" ng-click="registerUser($event)">Add User</span>
                    <span class="btn btn-default" ng-click="loadAndShowLoginPage()">Cancel</span>
                </p>

            </div>
        </div>
    </div>
</div>
<!-- END NEW USER OVERLAY -->




<div class="app has-navbar-top has-navbar-bottom">
    <!-- Navbar -->
    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <span class="ng-scope">Overlays</span>
        </div>

        <div class="btn-group pull-left">
            <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i> Menu
            </div>
        </div>

        <div class="btn-group pull-right" yield-to="navbarAction">
            <div ng-click="toggle('rightSidebar')" class="btn btn-navbar ng-scope">
                <i class="fa fa-comment"></i> Chat
            </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group justified">
            <a href="#new-bet-mod" class="btn btn-navbar" toggle="on"> <i class="fa fa-plus fa-navbar"></i>New Bet<i class="fa fa-plus fa-navbar"></i></a>

        </div>
    </div>

    <div class="app-body" ng-class="{loading: loading}">
        <div ng-show="loading" class="app-content-loading ng-hide">
            <i class="fa fa-spinner fa-spin loading-spinner"></i>
        </div>


        <!-- NG VIEW END-->

        <div class="app-content ng-scope" ng-hide="loading">


            <div class="scrollable ng-scope" style="max-height:99999px">
                <div class="scrollable-content" style="overflow: auto; -webkit-overflow-scrolling: touch;">
                    <div class="section section-break container">
                        <a href="#overlay1" class="btn btn-default" toggle="on">Show Overlay 1</a>
                        <a href="#overlay2" class="btn btn-default" toggle="on">Show Overlay 2</a>
                    </div>

                    <div class="section container">
                        <h4>Title</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, autem, culpa rerum odio sed esse officia quae nulla corporis laudantium necessitatibus dolores dolore nam eum exercitationem aut porro. Autem, nostrum.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, inventore, doloremque debitis accusamus qui pariatur aut ullam id reprehenderit impedit explicabo perspiciatis recusandae blanditiis quasi maiores quas itaque. Nesciunt, natus.</p>
                    </div>
                </div>
            </div>

        </div>

        <!-- NG VIEW END-->


    </div>
</div>

<!-- Vendor Scripts-->
<!--
<script type="text/javascript" src="cordova.js"></script>
-->
<script type="text/javascript" src="js/vendor/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="js/vendor/angular.min.js"></script>
<script type="text/javascript" src="js/vendor/angular-route.min.js"></script>

<script type="text/javascript" src="js/angular/Controller.js"></script>
<script type="text/javascript" src="js/vendor/mobile-angular-ui.min.js"></script>
<script type="text/javascript" src="js/vendor/mobile-angular-ui-touch-fastclick.min.js"></script>
<script type="text/javascript" src="js/vendor/mobile-angular-ui-scrollable-overthrow.min.js"></script>
</body>
</html>




